h1 {
   background: black;
    text-align: center;
   
    font-family: 'Russo One', sans-serif;

    font-size: 80px;
    color: orchid;
    text-shadow: 0 0 20px crimson;
    display: block;
    margin: 0px;
    padding-bottom: 0px;
   border-bottom: dotted magenta;

           }
        

h2 {
 
  text-shadow: 0 0 6px black;
  text-align: center;   
  filter: drop-shadow(6px 6px 6px #ffa4ce);
 /* background-color:rgb(40, 246, 178);*/
 font-family: 'Russo One', sans-serif;

   font-size: 48px;
   display: block;
   padding: 30;
   margin: 20px;
   color: rgba(8, 24, 250, 0.8);
 text-shadow:
   0 0 8px #fff,
   0 0 40px #fff,
   0 0 60px #fff,

   0 0 60px rgb(0, 110, 255),
   0 0 80px rgb(93, 255, 228);
}

img {
border: dotted magenta;  
}

html {
  overflow-x: hidden;
  height:100%;

 }
body {
   overflow-y: hidden;
   width:100%;
   height: 100%;
   border: dotted white;
 }



#row{
   border-bottom: solid black;
}

table {
  border-collapse: collapse;
   
}

tr {
   border: solid black;
}

td {
   border: dotted black;
}

canvas {
   padding: 0;
   margin: auto;
   display: block;
   
  
}
input {
   margin:auto;
}

.menu-return {
   background:rgb(255, 0, 128);
   padding:2px;
  
}

.menu-return a {
 font-size:22px;
padding-left:07%;
   text-decoration: none;
   font-family: 'Russo One', sans-serif;
}

.menu-return a:visited {
   
}

#solution {
  text-align: center;
}

#puzzle {
   border: double rgb(0, 0, 0);
  background-color: rgba(239, 250, 255, 0.85);
  width: 600px;
  height: 600px;
   text-align: center;
   margin-bottom:100px;
   margin: auto;
   display: block;
   overflow:scroll;
   

 }

 a:link {
    color:#ffa4ce;
    font-family: 'Russo One', sans-serif;

 }

a:visited {
  color:aqua;
  font-family: 'Russo One', sans-serif;

}

#puzzle a:link {
   font-family: 'Russo One', sans-serif;
text-decoration:none;
font-size:22px;
  color:#300166;
  padding:2px;
}

 #puzzle a:visited {
   font-family: 'Russo One', sans-serif;
text-decoration:none;
color:#300166;
 }

 #puzzle a:hover {

  color:crimson;
 }

 #thumbnail {
    padding: 15px;
 }

 #description {
    font-family:'Lucida Console', sans-serif;
    text-align: center;
    padding: 10,20;
   
    
 }



#main {
  height:100%;
min-height: 640px;
height: auto !important;
height: 640px;
  
   margin: auto;
   height:100%;
 /*  background-image: linear-gradient(black, black,black,rgb(168, 1, 168), rgb(255, 70, 23));
    background-color: rgb(75, 75, 75);

background-image: url("/Users/daryooshardalan/vscode/puzzlearcade-main/data/testbackground.jpeg");*/
background: linear-gradient(180deg,black, magenta) no-repeat fixed;
 
}

#sketch-container {
   border: solid hotpink;
   margin: auto;
   text-align: center;
   width: 600px;
   height: 600px;
   }

   #solvedmessage{
      font-size: 36;
      margin:auto;
      margin-top: 10px;
      background-color: aliceblue;
      text-align: center;
      width:600px;
  }

#digits {
      width:600px;
      text-align: center;
}



#name {
 
border:solid black;
text-align: left;


}

